<nav>
  <h1>Hi!</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo", width=200, height=200/>
    {% endif %}
  </a>
  <h2> <a href="/">{{ site.data.theme.name }}</a></h2>
  <div id="bio">
    <p>Doctoral candidate in Physics at <a href="http://www.physics.umn.edu/">University of Minnesota.</a></p>
  </div>
  <div id="posts">
    <h4 > <a href="/blogs/">{{ site.data.theme.blog }}</a></h4>
  </div>

  <div id="social">
    {% include social.html %}
  </div>



</nav>
